logs/
npm-debug.log
yarn-error.log
node_modules/
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
config/config.local.js
config/plugin.local.js
app/public
app/view/.next
app/view/.next/cache
.travis.yml
.github/
.temp/
.vscode/
appveyor.yml
**/tempData
**/.tempData
.log/
**/*.log
**/*.out
**/*.log.*
**/run